run = "python main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
packages = ["ffmpeg"]

[deployment]
run = ["python", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
